* {
    color: #fff;
    font-family: 'Manrope', sans-serif;
}
body {
    background-image: url("https://images.unsplash.com/photo-1620646233562-f2a31ad24425?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3RhcnMlMjBibGFja3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    overflow: hidden;
}

#pg1 {
    display: flex;
    align-items: center;
}
#astro-img{
    width: 40vw;;  
    position: relative;
    display: inline-block;
}
#start{
    display: none;
    position: relative;
    background-color: transparent;
    border-radius: 2vw;
    width: 10vw;
}

.text-box{
    display: inline-block;
    background-color: #008D8D;
    position: relative;
    text-align: left;
    padding: 2vh 5vw;
    border-radius: 15vw;
    width: 20vw;
    
    margin-left: 20vw;
    margin-top: 10vh;
    color: #fff;
}

.myP {
    font-size: 1.3vw;
}

button {
    background-color: #008D8D;
    margin-right: 0;
    padding: .75vw;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    transition: .5s;
    right:0;
    bottom:0;
    border-radius: 2vw;
    font-size: 0.75vw;
}
button:hover{
    border-color: white;

}

form{
    color: white;
    position: absolute;
}